<template>
  <div class="login">
    Login Page<br>
    Choose login approach:
      <div v-for="loginUrl in loginUrls">
        <a v-bind:href="loginUrl.url">{{ loginUrl.title }}</a>
        <br>
      </div>
  </div>
</template>

<script>
  export default {
    name: 'Login',
    data: function () {
      return {
        loginUrls: [
          {
            title: 'google',
            url: process.env.BACKEND_GOOGLE_LOGIN_URL
          },
          {
            title: 'facebook',
            url: process.env.BACKEND_FACEBOOK_LOGIN_URL
          }
        ]
      }
    }
  }
</script>

<style scoped>

</style>
