<template>
  <div class="notifications">
    <notifications group="general-notifications"
                   position="bottom right"
                   animation-type="velocity"
                   :speed="500"/>
  </div>
</template>

<script>
  import { notificationsDaemon } from '../services/notifications_daemon.js'

  export default {
    name: 'NotificationsBar',
    mounted () {
      notificationsDaemon.start(this)
    }
  }
</script>

<style lang="scss">
</style>
