<template>
  <div class="hello">
    <NotificationsBar/>
    {{ userDetails }}
  </div>
</template>

<script>
  import NotificationsBar from '@/components/NotificationsBar'
  import LoginService from '../services/login.js'

  export default {
    name: 'Basic',
    computed: {
      userDetails: function () {
        return this.$store.getters.getUserDetails
      }
    },
    beforeCreate: function () {
      new LoginService().login(this)
    },
    components: { NotificationsBar }
  }
</script>

<style lang="scss">
</style>
